@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', 'sans-serif';
}

.body-container {
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-flex  li {
    margin-right: auto;
    display: inline-block;
    padding: 1em;
}

.navbar-flex a{
    text-decoration: none;
}

.navbar li{
    list-style-type: none;
}

.navbar img {
    padding: 1.5em;
}

.navbar-btn {
    margin-left: auto;
    padding: 1.5em;
}

.btn-primary {
    padding: 1em;
    outline: none;
}

#login-btn {
    margin-left: 1em;
}

#register-btn {
    margin-left: 1em;
}

/* Container for the whole body content and hero image*/
.main-content-wrapper {
    margin: auto;
    margin-top: 1em;
    padding-bottom: 3em;
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the body copy and SVG images*/
.body-content-wrapper {
    height: 70%;
    width: 100%;
}

/* Container for the hero image */
.hero-image-wrapper {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.hero-image-wrapper img{
    width: 100%;
    height: 100%;
}

.title {
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    font-size: 4rem;
    padding-bottom: 0.5em;
}

.body-copy {
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
    padding-bottom: 2.5em;
}

.btn-btn-secondary {
    padding: 1em;
    cursor: pointer;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    outline: none;
    border-radius: 10px;
    margin-bottom: 4.5em;
}























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }